@import url(http://fonts.googleapis.com/css?family=roboto);

@font-face {
    font-family: 'proximaNova';
    src: url('fonts/proximanova-webfont.eot');
    src: url('fonts/proximanova-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-webfont.woff2') format('woff2'),
         url('fonts/proximanova-webfont.woff') format('woff'),
         url('fonts/proximanova-webfont.ttf') format('truetype'),
         url('fonts/proximanova-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection {
			background: #a7dee9; 
}

body {
  background: #fefefe;
  margin: 0;
  padding: 0;
}

h1{
			text-align:center;
			color:#75d3e6;
			font-size: 1.5em;
			font-family: 'proximaNova';
			padding-top:60px; 
			letter-spacing: 25px;
			#text-shadow: 1px 1px 5px #666666;
			font-weight:100;
}

.menu {
  background: #a8a8a8;
  display: none;
  width: 100%;
}

.menu ul {
  font-family: 'proximaNova','roboto', serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu ul li {
  color: #fff;
  font-size: 15px;
  letter-spacing: 5px;
  padding: 15px 0;
  text-transform: uppercase;
}

.menu ul li:hover { 
	#background: #a8a8a8; 
	background: #747474; 
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.menu-toggle {
  background: none;
  #color: #a8a8a8;
  color: #747474;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  
}

.menu-toggle a {
  text-decoration: none;
  color: #747474;

}

.title-search {
  width: 100%;
  font-family: 'proximaNova', 'roboto', serif;
  font-size: 30px;
  text-align: center;
  color: #333;
}

.insta-results{
	margin-top:30px;
	padding-top:20px;
	position: relative;
	float:left;
	padding-left: 25px;
	width:220px;
	height:220px;
}

 img:hover {
  width: 240px;
  height: 240px;
transition: all ease 400ms;
 }
 
#image-result-container{
padding-top:5%;
margin:0 auto;
width:78%;
height:auto;

}

input[type=text] {
    width: 25%;
    transition: ease-in-out, width .35s ease-in-out;
}

input[type=text]:focus {
    width: 30%;
	outline: none;
}

input{
		background:#a8a8a8;
		margin-bottom:15px;
		padding: 10px;
		height:35px;
		border:none;
		color:#fff;
		font:'proximaNova';
		outline-width: 0;
		font-weight:50;
		font-size:20px;
		letter-spacing: 2px;
	}